<main role="main">

      <!-- Main jumbotron for a primary marketing message or call to action -->
      <div class="jumbotron">
        <div class="container text-warning">
          <h1 class="display-3">BIENVENIDO A ROBOT-FACTORY</h1>
          <p>ROBOT-FACTORY es una plataforma en línea que facilita la compra y venta de robots entre usuarios de todo el mundo. Con una amplia gama de robots disponibles, desde robots domésticos hasta robots industriales, 
            nuestra plataforma ofrece una experiencia única para aquellos interesados en la tecnología robótica.</p>
          <p><a class="btn btn-primary btn-lg" href="#" role="button">Learn more &raquo;</a></p>
        </div>
      </div>

      <div class="container">
        <!-- Example row of columns -->
        <div class="row">
          <div class="col-md-4 robotNao">
            <img src="/assets/robotNao.jpg" alt="">
            <h2>robotNao</h2>
            <p>Nao es un robot humanoide compacto y expresivo diseñado para interactuar con humanos en diversos entornos. Con sensores avanzados y software de inteligencia artificial, puede reconocer rostros, seguir comandos de voz y aprender de la interacción. 
              Su versatilidad lo hace útil en educación, investigación y asistencia sanitaria. </p>
            <p><a class="btn btn-secondary" href="#" role="button">View details &raquo;</a></p>
          </div>
          <div class="col-md-4">
            <img src="/assets/AgryBot.jpg" alt="">
            <h2>AngryBot</h2>
            <p>Angrybot es un robot diseñado para expresar emociones de ira de manera realista. Con un diseño único que refleja su estado de ánimo, Angrybot puede comunicar su enojo a través de gestos y luces rojas brillantes en su carcasa. Equipado con sensores de reconocimiento facial y análisis de voz, puede detectar las emociones de las personas a su alrededor y responder en consecuencia. 
              Su propósito principal es servir como herramienta educativa para el estudio de la inteligencia emocional y la interacción humano-robot.</p>
            <p><a class="btn btn-secondary" href="#" role="button">View details &raquo;</a></p>
          </div>
          <div class="col-md-4">
            <img src="/assets/Bot.jpg" alt="">
            <h2>Bot</h2>
            <p>Bot es un robot versátil diseñado para una amplia gama de tareas, desde asistir en el hogar hasta realizar funciones industriales. Con un diseño modular y altamente personalizable, Bot puede adaptarse a diferentes entornos y necesidades. Equipado con tecnología de última generación, como sensores avanzados, brazos robóticos y capacidades de navegación autónoma, 
              Bot puede realizar una variedad de tareas con precisión y eficiencia. Su simplicidad de nombre refleja su enfoque directo y su capacidad para integrarse fácilmente en diversos contextos, convirtiéndolo en una solución práctica y accesible para una amplia gama de aplicaciones.</p>
            <p><a class="btn btn-secondary" href="#" role="button">View details &raquo;</a></p>
          </div>
        </div>

        <hr>

      </div>

 </main>