<div class="container-fuid imgHeader">
    <div class="imgHeader-text pt-5 text-warning">
      <h1>
        <a class="text-decoration-none" [routerLink]="['/home']" routerLinkActive="router-link-active" >Home</a>/Noticias
      </h1>
    </div>
  </div>
        
        <main>
            <div class="album py-5 bg-light">
                <div class="container">
                    <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
                    @for(noticia of noticias; track noticia._id){
                        <tocias-card [noticia]="noticia" (click)="deleteNoticia(this.noticia)"></tocias-card>
                    }                       
                    </div>
                </div>
            </div>
        </main>