
<nav class="navbar navbar-expand-lg navbar-light">
    <div class="container-fluid">
      <a class="navbar-brand" [routerLink]="['/home']"
        ><img src="assets/logo.png" alt="logo"
      /></a>
      <button
        class="navbar-toggler"
        type="button"
        data-bs-toggle="collapse"
        data-bs-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent"
        aria-expanded="false"
        aria-label="Toggle navigation"
      >
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          @if(logged()) {
            <li class="nav-item" >
              <a class="nav-link loggout" [routerLink]="['/login']" (click)="loggout()">Log out</a>
          </li> 
          <li class="nav-item" >
            <a class="nav-link nuevo" [routerLink]="['/robots']" routerLinkActive="router-link-active">Robots</a>
        </li>
          }

      @if(!logged()) {
        <li class="nav-item">
          <a
            class="nav-link login"
            [routerLink]="['/login']"
            >Login</a
          >
        </li>
      }
      
          @if(logged()) {
            <li class="nav-item">
              <a
                class="nav-link nuevo"
                [routerLink]="['/robots/nuevo']"
                >Nuevo Robot</a
              >
            </li> 
            
            <li class="nav-item">
              <a
                class="nav-link nuevo"
                [routerLink]="['/noticias/nueva']"
                >Nueva noticia</a
              >
            </li> 
            <li class="nav-item">
              <a
                class="nav-link nuevo"
                [routerLink]="['/noticias']"
                >Noticias</a
              >
            </li> 
          }
        </ul>
      </div>
    </div>
  </nav>
